# MultipleLinearRegression

## one hot encoding 컬럼을 0,1 로 나누기

In [1]:
import pandas as pd

In [11]:
dataset = pd.read_csv('MultipleLinearRegressionData.csv')
X = dataset.iloc[:,:-1] 
y = dataset.iloc[:,-1]
X

    hour  absent    place
0    0.5       3     Home
1    1.2       4  Library
2    1.8       2     Cafe
3    2.4       0     Cafe
4    2.6       2     Home
5    3.2       0     Home
6    3.9       0  Library
7    4.4       0  Library
8    4.5       5     Home
9    5.0       1     Cafe
10   5.3       2     Cafe
11   5.8       0     Cafe
12   6.0       3  Library
13   6.1       1     Cafe
14   6.2       1  Library
15   6.9       4     Home
16   7.2       2     Cafe
17   8.4       1     Home
18   8.6       1  Library
19  10.0       0  Library

In [21]:
y

0      10
1       8
2      14
3      26
4      22
5      30
6      42
7      48
8      38
9      58
10     60
11     72
12     62
13     68
14     72
15     58
16     76
17     86
18     90
19    100
Name: score, dtype: int64

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

#place를 원핫인코딩한뒤 first column drop없애기, 2번째컬럼(place)해당, 나머지 컬럼 냅두기
ct =ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), [2])], remainder = 'passthrough')

X = ct.fit_transform(X)
X
#맨앞 두개
#1,0 home
#0,1 library
#0,0 cafe

array([[ 1. ,  0. ,  0.5,  3. ],
       [ 0. ,  1. ,  1.2,  4. ],
       [ 0. ,  0. ,  1.8,  2. ],
       [ 0. ,  0. ,  2.4,  0. ],
       [ 1. ,  0. ,  2.6,  2. ],
       [ 1. ,  0. ,  3.2,  0. ],
       [ 0. ,  1. ,  3.9,  0. ],
       [ 0. ,  1. ,  4.4,  0. ],
       [ 1. ,  0. ,  4.5,  5. ],
       [ 0. ,  0. ,  5. ,  1. ],
       [ 0. ,  0. ,  5.3,  2. ],
       [ 0. ,  0. ,  5.8,  0. ],
       [ 0. ,  1. ,  6. ,  3. ],
       [ 0. ,  0. ,  6.1,  1. ],
       [ 0. ,  1. ,  6.2,  1. ],
       [ 1. ,  0. ,  6.9,  4. ],
       [ 0. ,  0. ,  7.2,  2. ],
       [ 1. ,  0. ,  8.4,  1. ],
       [ 0. ,  1. ,  8.6,  1. ],
       [ 0. ,  1. , 10. ,  0. ]])

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [18]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

reg.fit(X_train,y_train) #train data fit

LinearRegression()

In [19]:
y_pred = reg.predict(X_test) #test data predict
y_pred #예측값

array([ 92.15457859,  10.23753043, 108.36245302,  38.14675204])

In [20]:
y_test #실제값 90 8 100 38

18     90
1       8
19    100
8      38
Name: score, dtype: int64

In [22]:
reg.coef_ #기울기 
#home,library,hour,absent : home보다 library보다 cafe(0)에서 더 좋다
#공부시간 1시간씩 10점씩 오른다
#결석할때마다 1점씩 내려간다

array([-5.82712824, -1.04450647, 10.40419528, -1.64200104])

In [23]:
reg.intercept_

5.365006706544747

In [24]:
reg.score(X_train,y_train) #train data score

0.9623352565265527

In [25]:
reg.score(X_test,y_test) #test data score

0.9859956178877445

1. MAE (Mean Absolute Error) : (실제 값과 예측 값) 차이의 절대값
1. MSE (Mean Squared Error) : 차이의 제곱
1. RMSE (Root Mean Squared Error) : 차이의 제곱에 루트
1. R2 : 결정 계수

> R2 는 1에 가까울수록, 나머지는 0에 가까울수록 좋음

In [26]:
#mae
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred) #실제값과 예측값

3.2253285188288023

In [27]:
#mse
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred) #실제값과 예측값

19.900226981515015

In [29]:
#rmse
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False) #실제값과 예측값

4.460967045553578

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred) #실제값과 예측값

0.9859956178877445